html{background-color: #ECF0F1;}
.mastermenugenel{position:fixed;top:0px;left:0px;bottom:0px;width: 10%;min-height: 100% !important;height: 100%;background-color: #343434;box-shadow: 0.2vw 0px 0.35vw 0px black;z-index: 1;}
.masterbaslik{position:relative;height: 5%;color: white;font-weight: bold;width: 100%;background-color: #C0392B;margin: auto;text-align:center;font-family: Calibri;font-size: 1vw;}
.masterbaslikortala{position: relative;top: 50%;transform: translateY(-50%);}
.mastermenunesne{position: relative;height:5%;width: 100%;}
.mastermenugizle1, .mastermenugizle2{position: absolute;bottom: 0;left: 0;height: 5%;width: 100%;}
.mastermenugizle2{bottom: 5%;}
.mastermenunesnetek{position: relative;height:100%;width: 100%;}
.mastermenunesneikili{position: relative;height:50%;width: 100%;}
.mastermenunesneuclu{position: relative;height: 33.33%;width: 100%;}
.mastermenunesnedortlu{position: relative;height: 25%;width: 100%;}
.mastermenubutoncss, .mastermenubutoncss1, .mastermenubutoncss2, .mastermenubutoncss3, .mastermenubutoncss4, .mastermenubutoncss5{font-family: Calibri;text-align:left;background-color: transparent;color: white;font-size: 1vw;border: none;height: 100%;width: 100%;display: block;padding-left: 0.4vw;cursor: pointer;}
.mastermenubutoncss:hover, .mastermenubutoncss1:hover, .mastermenubutoncss2:hover, .mastermenubutoncss3:hover, .mastermenubutoncss4:hover, .mastermenubutoncss5:hover{background-color: black;color: #DBFE03;}
.mastermenubutoncss1 .icon{padding-left: 5.8vw;}
.mastermenubutoncss2 .icon{padding-left: 5.05vw;}
.mastermenubutoncss3 .icon{padding-left: 1.85vw;}
.mastermenubutoncss4 .icon{padding-left: 3.3vw;}
.mastermenubutoncss5 .icon{padding-left: 5.05vw;}
.ajs-message
{
    font-family: 'Arial';
    font-size: 0.9vw;
    color: white;
}
.cizgi
{
    position: absolute;
    top: 1.5%;
    right: 91.7vw;
    line-height: 35vw;
    width: 100%;
    background-color: aqua;
    z-index: 1000;
}

.mastermenualtbutoncssalt, .mastermenualtbutoncssust, .mastermenualtbutoncssorta, .mastermenualtbutoncsstek
        {
            background-color: transparent;
	        color: white;
            font-family: Calibri;
            font-size: 1vw;
            border: none;
            height: 100%;
            width: 100%;
            display: block;
            text-align: left;
            padding-left: 0.7em;
            cursor: pointer;
        }
        .mastermenualtbutoncssalt:hover, .mastermenualtbutoncssust:hover, .mastermenualtbutoncssorta:hover, .mastermenualtbutoncsstek:hover
        {
            background-color: brown;
            color: white;
        }
        .mastermenualtbutoncssalt:hover
        {
            border-bottom-left-radius: 0.4vw;
            border-bottom-right-radius: 0.4vw;
        }
        .mastermenualtbutoncssust:hover
        {
            border-top-left-radius: 0.4vw;
            border-top-right-radius: 0.4vw;
        }
        .mastermenualtbutoncsstek:hover
        {
            border-radius:0.4vw;
        }
        .masterblok2menu, .masterblok4menu, .masterblok5menu, .masterblok1menu
        {
            position: relative;
            display: none;
            width: 90%;
            height: 15%;
            text-align: center;
            margin: auto;
            background-color: teal;
            border-radius: 0.4vw;
        }
        .masterblok3menu
        {
            position: relative;
            display: none;
            width: 90%;
            height: 20%;
            text-align: center;
            margin: auto;
            background-color: teal;
            border-radius: 0.4vw;
        }
        .masterbaslik:hover
        {
            background-color: teal;
            color: white;
        }
        .masteraspicerik
        {
            position:absolute;
            top: 1.5%;
            bottom: 0;
            left: 11%;
            display:block;
            width: 88%;
            margin: auto;
            font-size: 1vw;
            font-family: Calibri;
        }
        .mastermesajicerik
        {
            position:fixed;
            bottom: 0.75vw;
            left: 11%;
            width: 12vw;
            height: 3vw;
            display: none;
            margin: auto;
            z-index: 99;
            color: white;
            font-size: 1vw;
            vertical-align:middle;
            text-align: center;
            font-family:Calibri;
            opacity:1;
        }
        .mastermesajortala
        {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .masterlabelcss
        {
            padding-left: 0.5vw;
        }
        .masteranimasyon
        {
            animation: animate 0.75s ease;
        }
        @keyframes animate
        {
	        0%
            {
                left: 75%;
	        }
            100%
            {
                left: 11%;
	        }
        }
        .masteracmakapamacss
        {
            border:none;
            font-size: 1vw;
            font-family:Calibri;
	        color: white;
            font-family: Calibri;
            font-size: 1vw;
            border: none;
            height: 100%;
            width: 100%;
            display: block;
            text-align: center;
            padding: 0px;
            background-color:transparent;
        }
        .masteracmakapamacss:hover
        {
            background-color: teal;
            color: white;
        }
        .masteracmakapamakutusu
        {
            position:fixed;
            left: 0;
            top: 0;
            background-color: brown;
            z-index: 0;
            width: 2%;
            font-size: 1vw;
            border:none;
            height: 100%;
        }
        .cssgridyazısol
        {
            text-align: left;
            padding-left: 0.5vw;
        }
        .cssgridyazısag
        {
            text-align: right;
            padding-right: 1vw;
        }
        .cssgridyazıortala
        {
            text-align: center;
        }
        .cssgridbutonitemcss
        {
            text-align: center;
        }
        .cssgriddropitemcss
        {
            text-align: center;
        }
        .cssgridtextitemcss
        {
            margin: auto;
            text-align: center;
        }
        .cssgridcheckitemcss
        {
            margin: auto;
            text-align: center;
        }
        .cssgridbutoncss
        {
            width: 90%;
            height: 2vw;
            font-size: 1vw;
            border-radius: 0.3vw;
	        border: 0.1vw solid black;
            cursor: pointer;
            font-family: Calibri;
        }
        .cssgridbutoncss:hover
        {
            background-color: teal;
            color: white;
        }
        .cssgriddropcss
        {
            width: 90%;
            height: 2vw;
            font-size: 1vw;
            cursor: pointer;
            font-family: Calibri;
            padding-left: 0.3vw;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .cssgridtextboxcss
        {
            width: 90%;
            height: 1.8vw;
            font-size: 1vw;
            cursor: pointer;
            font-family: Calibri;
            padding-left: 0.3vw;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .cssgridtextboxcssortala
        {
            width: 90%;
            height: 1.8vw;
            font-size: 1vw;
            cursor: pointer;
            font-family: Calibri;
            padding-left: 0.3vw;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align:center;
        }
        .cssgridheader
        {
            height: 2vw;
            background-color: teal;
            text-align: center;
            color: white;
            font-size: 1vw;
            border: 0.1vw solid black;
        }
        .cssgridheader:hover
        {
            background-color: brown;
        }
        .cssgridrowcss
        {
            height: 3vw;
            background-color: #FFF3F1;
            color: black;
            font-size: 1vw;
            border: 0.1vw solid black;
        }
.cssgridrowcss:hover
{
    background-color: #D1FF00;
}
        .cssgridview
        {
            margin: auto;
            text-align: center;
        }
        .cssarabaslik
        {
            text-align:center;
            height: 2vw;
            background-color: teal;
            color: white;
            font-size: 1vw;
            font-weight:bold;
        }
        .cssarabaslik:hover
        {
            background-color: brown;
        }
        .cssbaslikortala
        {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .cssbuton8, .cssbuton12, .cssbuton10, .cssbuton100, .cssbuton6, .cssbuton7
        {
	        box-shadow: 0px 0.2vw 0.9vw -0.1vw #276873;
	        background-color: crimson;
	        border-radius:0.2vw;
	        border:0.1vw solid #566573;
	        cursor:pointer;
	        color: white;
	        font-family:Calibri;
            font-size: 1vw;
            height: 2vw;
        }
        .cssbuton8:hover, .cssbuton12:hover, .cssbuton10:hover, .cssbuton100:hover, .cssbuton6:hover, .cssbuton7:hover
        {
	        background-color: #EB984E;
            color: black;
        }
        .cssbuton6
        {
            width: 6vw;
        }
        .cssbuton6
        {
            width: 7vw;
        }
        .cssbuton8
        {
            width: 8vw;
        }
        .cssbuton10
        {
            width: 10vw;
        }
        .cssbuton12
        {
            width: 12vw;            
        }
        .cssbuton100
        {
            width: 100%;        
        }
        .cssbutondiv
        {
            text-align:center;
            margin: auto;
            width: 100%;
        }
        .cssboslukalt0_25
        {
            padding-bottom: 0.25vw;
        }
        .cssboslukalt0_5
        {
            padding-bottom: 0.5vw;
        }
        .cssboslukalt0_75
        {
            padding-bottom: 0.75vw;
        }
        .cssboslukalt1
        {
            padding-bottom: 1vw;
        }
        .cssboslukust1
        {
            padding-top: 1vw;
        }
        .cssboslukaltust1
        {
            padding-bottom: 1vw;
            padding-top: 1vw;
        }
        .cssboslukalt1_5
        {
            padding-bottom: 1.5vw;
        }
        .cssboslukust1_5
        {
            padding-top: 1.5vw;
        }
        .cssboslukaltust1_5
        {
            padding-top: 1.5vw;
            padding-bottom: 1.5vw;
        }
        .cssboslukalt2
        {
            padding-bottom: 2vw;
        }
        .cssboslukust2
        {
            padding-top: 2vw;
        }
        .cssboslukust2_5
        {
            padding-top: 2.5vw;
        }
        .cssboslukalt3
        {
            padding-bottom: 3vw;
        }
        .cssboslukust3
        {
            padding-top: 3vw;
        }
        .cssflex
        {
            width: 100%;
            display: flex;
        }
        .cssflexsol10, .cssflexsol8, .cssflexsol6, .cssflexsol13
        {
            width: 10vw;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        .cssflexsol8
        {
            width: 8vw;
        }
        .cssflexsol6
        {
            width: 6vw;
        }
        .cssflexsol13
        {
            width: 13vw;
        }
        .cssflexsag
        {
            width: 100%;
            margin: auto;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        .csslabelzorunlu
        {
            color: #FF0000;
            font-size: 1vw;
            text-align: left;
            font-family: Calibri;
        }
        .csslabelnormal
        {
            color: black;
            font-size: 1vw;
            text-align: left;
            font-family: Calibri;
        }
        .csslabelnormaldikorta
        {
            color: black;
            font-size: 1vw;
            text-align: left;
            font-family: Calibri;
            padding-top: 0.3vw;
        }
        .csslabelkalin
        {
            color: black;
            font-weight: bold;
            font-size: 1vw;
            text-align: left;
            font-family: Calibri;
        }
        .csstextbox100, .csstextbox90, .csstextbox80, .csstextbox70, .csstextbox60, .csstextbox50, .csstextbox40, .csstextbox30, .csstextbox20, .csstextbox10
        {
            width: 100%;
            height: 1.8vw;
            font-size: 1vw;
            font-family: Calibri;
            padding-left: 0.5vw;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }
        .csstextbox100:focus, .csstextbox90:focus, .csstextbox80:focus, .csstextbox70:focus, .csstextbox60:focus, .csstextbox50:focus, .csstextbox40:focus, .csstextbox30:focus, .csstextbox20:focus, .csstextbox10:focus
        {
            outline: none;
            border: 0.15vw solid black;
        }
        .csstextbox90
        {
            width: 90%;
        }
        .csstextbox80
        {
            width: 80%;
        }
        .csstextbox70
        {
            width: 70%;
        }
        .csstextbox60
        {
            width: 60%;
        }
        .csstextbox50
        {
            width: 50%;
        }
        .csstextbox40
        {
            width: 40%;
        }
        .csstextbox30
        {
            width: 30%;
        }
        .csstextbox20
        {
            width: 20%;
        }
        .csstextbox10
        {
            width: 10%;
        }
        .cssdropdown100, .cssdropdown90, .cssdropdown80, .cssdropdown70, .cssdropdown60, .cssdropdown50, .cssdropdown40, .cssdropdown30, .cssdropdown25, .cssdropdown20, .cssdropdown10, .cssdropdown7
        {
            width: 100%;
            height: 1.8vw;
            font-size: 1vw;
            padding-left: 0.3vw;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: Calibri;
        }
        .cssdropdown100:focus, .cssdropdown90:focus, .cssdropdown80:focus, .cssdropdown70:focus, .cssdropdown60:focus, .cssdropdown50:focus, .cssdropdown40:focus, .cssdropdown30:focus, .cssdropdown25:focus, .cssdropdown20:focus, .cssdropdown10:focus, .cssdropdown7:focus, .cssriskanaliziaciklama:focus
        {
            outline: none;
            border: 0.1em solid black;
        }
        .cssdropdown90
        {
            width: 90%;
        }
        .cssdropdown80
        {
            width: 80%;
        }
        .cssdropdown70
        {
            width: 70%;
        }
        .cssdropdown60
        {
            width: 60%;
        }
        .cssdropdown50
        {
            width: 50%;
        }
        .cssdropdown40
        {
            width: 40%;
        }
        .cssdropdown30
        {
            width: 30%;
        }
        .cssdropdown25
        {
            width: 25%;
        }
        .cssdropdown20
        {
            width: 20%;
        }
        .cssdropdown10
        {
            width: 10%;
        }
        .cssdropdown7
        {
            width: 7%;
        }
        .cssbutontamam, .cssbutonvazgec
        {
            height: 2vw;
            width: 6vw;
            font-size: 1vw;
            border-radius: 0.5vw;
	        border: 0.1vw solid black;
            cursor: pointer;
            font-family: Calibri;
        }
        .cssbutontamam:hover
        {
            background-color: teal;
            color: white;
        }
        .cssbutonvazgec:hover
        {
            background-color: brown;
            color: white;
        }
        .cssdivortala
        {
            position: relative;
            margin: auto;
            text-align: center;
            width: 100%;            
        }
        .paddingleft0_5
        {
            padding-left: 0.5vw;
        }
        .cssmargin30
        {
            position:relative;
            margin-left: 30%;
            margin-right: 30%;
        }
        .csslineheight1_5
        {
            line-height: 1.5vw;
            color: black;
            font-size: 1vw;
            text-align: left;
            font-family: Calibri;
        }
        .cssfileupload
        {
            position: relative;
            margin: auto;
            display: block;
            text-align: center;
            line-height: 10vw;
            padding-left: 20%;
            padding-right: 20%;
            cursor: pointer;
            background-color: #FADBD8;
            border-radius: 2vw 2vw;
            border: 0.3vw dashed #2C3E50;
            font-size: 1vw;
            font-family: Calibri;
        }
        .cssblok1_3
        {
            position: absolute;
            display: block;
            width: 33.33%;
            margin: auto;
            text-align: center;
            top: 5%;
            left: 0;
        }
        .cssblok2_3
        {
            position: absolute;
            display: block;
            width: 33.33%;
            margin: auto;
            text-align: center;
            top: 5%;
            left: 33.33%;
        }
        .cssblok3_3
        {
            position: absolute;
            display: block;
            width: 33.33%;
            margin: auto;
            text-align: center;
            top: 5%;
            left: 66.66%;
        }
        .cssblokyuzde50
        {
            width: 50%;
            text-align: center;
            vertical-align: text-top;
            margin-top: 0;
        }
        .cssblokyuzde30
        {
            width: 30%;
            text-align: center;
            vertical-align: text-top;
            margin-top: 0;
        }
        .cssblokyuzde70
        {
            width: 70%;
            text-align: center;
            vertical-align: text-top;
            margin-top: 0;
        }
        .cssblokyuzde40
        {
            width: 40%;
            text-align: center;
            vertical-align: text-top;
            margin-top: 0;
        }
        .cssblokyuzde60
        {
            width: 60%;
            text-align: center;
            vertical-align: text-top;
            margin-top: 0;
        }
        .cssblokbosluk
        {
            width: 96%;
            margin: auto;
            text-align: center;
        }
        .cssaltbilgi
        {
            position: absolute;
            bottom: 5%;
            left: 0;
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .cssblok1_3
        {
            position: absolute;
            display: block;
            width: 33.33%;
            margin: auto;
            text-align: center;
            top: 5%;
            left: 0;
        }
        .cssblok2_3
        {
            position: absolute;
            display: block;
            width: 33.33%;
            margin: auto;
            text-align: center;
            top: 5%;
            left: 33.33%;
        }
        .cssblok3_3
        {
            position: absolute;
            display: block;
            width: 33.33%;
            margin: auto;
            text-align: center;
            top: 5%;
            left: 66.66%;
        }
        .cssblokbosluk
        {
            width: 96%;
            margin: auto;
            text-align: center;
        }
        .csscheckbox input
        {
            width:1vw;
            height:1vw;
        }
        .cssevraknotextbox
        {
            background-color: #36454F;
            text-align: center;
            font-size: 1.2vw;
            width: 30%;
            height: 2.5vw;
            font-weight: bold;
            font-family: Calibri;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
            color: white;
        }
        .cssmultitextbox
        {
            height: 75%;
            width: 97%;
            font-size: 1vw;
            font-family: Calibri;
            padding-left: 0.5vw;
        }
        .cssmessagebox
        {
            position:relative;
            width: 100%;
            background-color: #2C3E50;
            text-align: center;
            font-size: 1.25vw;
            height: 2.25vw;
            font-weight: bold;
            font-family: Calibri;
            color: white;
            padding-top: 0.5vw;
        }
        .cssriskanaliziaciklama
        {
            width: 100%;
            height: 6vw;
            font-size: 1vw;
            font-family: Calibri;
            padding-left: 0.5vw;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
        }
        .cssmesajanasayfa
        {
            color: black;
            font-size: 1vw;
            text-align: left;
            font-family: Calibri;
        }
        .cssotomatikdoldurma
        {
            position: relative;
            display: inline-block;
            width:100%;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .cssotomatikdoldurma-items
        {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          width: 100%;
          text-align: left;
        }
        .cssotomatikdoldurma-items div
        {
          padding: 10px;
          cursor: pointer;
          background-color: #FDF2E9;
          border-bottom: 1px solid #d4d4d4;
        }
        .cssotomatikdoldurma-items div:hover
        {
          background-color: #e9e9e9;
        }
        .cssotomatikdoldurma-active
        {
          background-color: DodgerBlue !important;
          color: #ffffff;
        }
        .cssadsoyadblok
        {
            width: 40%;
            background-color: brown;
            border-radius: 0.6vw;
            color: white;
            font-size: 2vh;
            line-height: 4vh;
            text-align: center;
            font-family: Calibri;
            margin:auto;
            font-weight: bold;
        }
        .csslistboxblok
        {
            width: 40%;
            background-color: brown;
            color: white;
            font-size: 2vh;
            line-height: 4vh;
            text-align: center;
            font-family: Calibri;
            margin:auto;
            font-weight: bold;
        }
        .csslistbox
        {
            width: 100%;
            color: black;
            font-size: 2vh;
            line-height: 4vh;
            text-align: left;
            font-family: Calibri;
            padding-left: 1vh;
            padding-top: 0.6vh;
        }
        .csslistboxkonum
        {
            margin: auto;
            width: 40%;
        }
        .cssduyurubaslik
        {
            width: 100%;
            background-color: brown;
            color: white;
            font-size: 2vh;
            line-height: 4vh;
            text-align: center;
            font-family: Calibri;
            font-weight: bold;
        }
        .cssaciklamabaslik
        {
            width: 100%;
            color: black;
            font-size: 2vh;
            line-height: 2.8vh;
            text-align: justify;
            text-justify: inter-word;
            font-family: Calibri;
        }
        .diyalog1
        {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(235, 237, 239, 0.8);
        }
        .diyalog1-content
        {
            background-color: #fefefe;
            margin: 15% auto;
            text-align: center;
            padding: 1vw 1vw 1.8vw 1vw;
            border: 0.1vw solid #888;
            width: 30%;
        }

        .diyalog2
        {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(235, 237, 239, 0.8);
        }
        .diyalog2-content
        {
            background-color: #fefefe;
            margin: 15% auto;
            text-align: center;
            padding: 1vw 1vw 1.8vw 1vw;
            border: 0.1vw solid #888;
            width: 30%;
        }
.cssflexortala
{
    width: 100%;
    display: flex;
    justify-content: center; /* Centering the buttons */
}

.cssbutonortala
{
    display: flex;
    justify-content: center;
    grid-gap: 2vw; /* Adds space between the buttons */
    width: 100%;
}

.ui-datepicker-title
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.ui-datepicker-month
{
    margin-right: 1vw;
}
.ui-datepicker
{
    width: 14vw;
    font-size: 0.9vw;
}

.ui-datepicker-title select
{
    width: auto;
}

.ui-datepicker-calendar td a
{
    display: block;
    text-align: center;
}

.csskurulsayfabuton
{
    margin-right: 50%;
    margin-top: 0;
}
.cssflexyariyariyagenel
{
    display: flex;
    width: 100%;
    position: relative;
}

.cssflexyariyariyasol, .cssflexyariyariyasag
{
    justify-content: center;
    align-items: center;
}

.cssflexyariyariyasol
{
    width: 49.5%;
    margin-right: 0.5%;
}
.cssflexyariyariyasag
{
    width: 49.5%;
    margin-left: 0.5%;
}

.cssaltliustlu
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.csstextboxmetinortala
{
    text-align: center;
}

.table-style {
    border-collapse: collapse;
    width: 100%;
    font-family: Calibri;
    font-size: 1vw;
}

.table-style tbody tr {
    height: 3vw;
    background-color: #FFF3F1;
    border: 0.1vw solid black;
    text-align: center;
}

.table-style thead th {
    height: 2vw;
    background-color: teal;
    color: white;
    border: 0.1vw solid black;
}

.table-style th, .table-style td {
    border: 0.1vw solid black; /* Hücre kenarlıkları */
    padding: 0; /* İç boşlukları sıfırla */
    box-sizing: border-box;
}

.csstablotextboxcss, .csstablodropcss
{
    width: 90%;
    height: 2vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Calibri;
    font-size: 1vw;
    padding-left: 0.25vw;
}
